<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}" {% if page.url == "/" %}style="color: red;"{% endif %}>Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
  {% for item in site.data.navigation %}
      <li class="nav-item">
		<a class="nav-link" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
		  {{ item.name }}
		</a>
      </li>
  {% endfor %}
    </ul>
  </div>
</nav>
