<p>
{% if pub.photo %}
<div class="row">
<div class="col-sm-10">
{% endif %}
  <a href="https://doi.org/{{pub.DOI}}">
  	{{pub.title}} {% if pub.open-access %}<img src="{{site.baseurl}}/assets/images/open-access.svg" height="20">{% endif %}
  </a>
  {% if pub.citations > 100 %}
  	<span class="badge badge-danger">highly cited</span>
  {% endif %}
  <br>
  {% assign last_author = pub.author | last %}
  {% assign co-first = "&ast;" %}
  {% assign co-last = "&oast;" %}
  {% assign has-co-first=false %}
  {% assign has-co-last=false %}
  {% for author in pub.author %}
	{% assign full_name = author.given | append: " " | append: author.family %}
	{% if members contains full_name %}
	  <a href="{{site.baseurl}}/people/{{author.family | downcase}}/">
	{% endif %}
	{% if author.co-first or author.co-last %}<strong>{% endif %}
	{% if author.co-first %} {% assign has-co-first=true %} {% endif %}
	{% if author.co-last %} {% assign has-co-last=true %} {% endif %}
	{{author.literal}}
	{% assign given_words = author.given | split: " " %}
	{% for word in given_words %}{{word | slice:0}}.{% endfor %}
	{{author.dropping-particle}} 
	{{author.family}}{% if author.co-first%}{{co-first}}{%endif%}{% if author.co-last%}{{co-last}}{%endif%}{% if members contains full_name %}</a>{% endif %}{% if author.given != last_author.given or author.family != last_author.family %},{% endif %}
	{% if author.co-first or author.co-last %}</strong>{% endif %}
  {% endfor %}
    <span style="color: #505050;">
	{% if has-co-first and has-co-last %}
		({{co-first}}co-first, {{co-last}}co-last)
	{% elsif has-co-first %}
		({{co-first}}co-first)
	{% elsif has-co-last %}
		({{co-last}}co-last)
	{% endif %}
	</span>
  <br>
  <small style="color: #505050;">
    {{pub.container-title}}
    {% if pub.volume %}{{pub.volume}}:{%endif%}{%if pub.page %}{{pub.page}}{%endif%}
    ({{pub.issued[0].year}})
  </small>
  {% if pub.preprint-DOI %} 
    <a href="https://doi.org/{{pub.preprint-DOI}}" class="badge badge-success">Preprint</a>
  {% endif %}
  {% if pub.F1000 %}
	<a href="https://f1000.com/prime/{{pub.F1000}}"><img src="{{site.baseurl}}/assets/images/F1000_logo.png" alt=""></a>
  {% endif %}
  {% if pub.PMCID %}
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{pub.PMCID}}" class="badge badge-warning">Full text (PMC)</a>
  {% endif %}
  <span class="__dimensions_badge_embed__" data-doi="{{pub.DOI}}" data-style="small_rectangle" data-hide-zero-citations="true">
  <span data-badge-popover="right" data-badge-type="2" data-doi="{{pub.DOI}}" data-hide-less-than="5" class="altmetric-embed"></span>
  </span>
{% if pub.photo %}
</div>
<div class="col-sm-2">
  <a href="https://doi.org/{{pub.DOI}}">
    <img src="{{site.baseurl}}/assets/logo/{{pub.photo}}" height="110">
  </a>
</div>
</div>
{% endif %}
</p>
