---
layout: default
---

<div style="background-color: {{site.data.style.main_color}};">
  <div class="container">
	<h1><a href="/people/">People</a> / {{page.title}}</h1>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
			{{ content }}
			<h4>Selected Publications</h4>
		    {% assign has-citations = false %}
			{% assign members = page.pubname %}
			<ol>
			{% assign pubs = site.data.publications.references | sort: "citations" | reverse %}
			{% assign count = 0 %}
			{% for pub in pubs %}
			  {% assign has-author = false %}
			  {% for author in pub.author %}
				{% assign full_name = author.given | append: " " | append: author.family %}
				{% if full_name == page.pubname %}
				  {% assign has-author = true %}
				  {% break %}
				{% endif %}
			  {% endfor %}
			  {% if has-author %}
			    {% if pub.citations %}
			      {% assign has-citations = true %}
			    {% endif %}
				<li>
				{% include publication.html %}
				</li>
				{% assign count = count | plus: 1 %}
			  {% endif %}
			  {% if count == 5 %}
			    {% break %}
			  {% endif %}
			{% endfor %}
			</ol>
			<a href="{{site.baseurl}}/publications/">&rarr;All publications</a><br><br>

        </div>
        <div class="col-md-4">
			<div class="card card-body bg-light">
				<p style="text-align:center;"><img class="rounded-circle" src="{{page.url}}{{page.image}}" width=220 alt="{{page.title}}"></p>
				<p><strong>Address:</strong><br>{{page.address}}</p>
				<p>
				  {% if page.phone %}
    				  <i class="fa fa-phone"></i> {{page.phone}}<br>
    			  {% endif %}
				  {% if page.email %}
				      <i class="fa fa-envelope"></i> {{page.email}}<br>
    			  {% endif %}
				  {% if page.google_scholar %}
    				  <i class="fa fa-google"></i> <a href="https://scholar.google.com/citations?user={{page.google_scholar}}">Google Scholar</a><br>
    			  {% endif %}
				  {% if page.github %}
  				    <i class="fa fa-github"></i> <a href="https://github.com/{{page.github}}">GitHub</a><br>
  				  {% endif %}
				  {% if page.twitter %}
				    <i class="fa fa-twitter"></i> <a href="https://twitter.com/{{page.twitter}}">Twitter</a><br>
				  {% endif %}
				  {% if page.ORCID %}
				    <i class="fa fa-user"></i> <a href="https://orcid.org/{{page.ORCID}}">ORCID</a><br>
				  {% endif %}
				</p>
			</div>
			<br>
			<div class="card card-body bg-light">
				<h5 class="card-title">Lab members</h5>
				{% assign person_pages = site.pages | where: "layout" , "personnel" | where: "current", "true" %}
				{% for person in person_pages %}
					<p class="card-text">
						<a href="{{ person.url | prepend: site.baseurl }}" class="card-link">{{ person.title }}</a><br>
						{{ person.position }}
					</p>
				{% endfor %}
				
			</div>
        </div>
    </div>
</div>

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
