---
layout: default
title: Publications
title_heading: true
---

<div class="container">
  {% assign person_pages = site.pages | where: "layout" , "personnel" | where: "current", "true" %}
  {% assign members = person_pages | map: "pubname" %}
  {% assign pub_groups = site.data.publications.references | group_by: "type" %}
  {% for pub_group in pub_groups %}
    {% if pub_group.name == "article-journal" %}
      <h3>Journal papers</h3>
    {% elsif pub_group.name == "chapter" %}
      <h3>Refereed book chapters</h3>
    {% elsif pub_group.name == "paper-conference" %}
      <h3>Refereed conference papers</h3>
    {% elsif pub_group.name == "report" %}
      <h3>Preprints</h3>
    {% else %}
      <h3>{{pub_group.name}}</h3>
    {% endif %}
    <hr style="border: 0.5px solid;">
  
  	<ol>
    {% assign this_year = "" %}
    {% for pub in pub_group.items %}
	  {% if pub.issued[0].year != this_year and pub_group.name != "report" %}
		{% assign this_year = pub.issued[0].year %}
		<a name="{{this_year}}"></a>
		<h4>{{this_year}}</h4>
      {% endif %}
		<li>
		{% include publication.html %}
		</li>
    {% endfor %}
    </ol>
  {% endfor %}
</div>

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
